.room-background {
    position: relative;
    background-image: url('/images/guest_home.png');
    background-size: cover;
    background-position: center;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Bona Nova';
    z-index: -2;
}
.room-background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.3);
    z-index: -1;
}

.room-background h1 {
    font-size: 7em;
    text-shadow: 15px 2px 1px rgba(0, 0, 0, 0.8);
    color: #F4BB4B;
}
.memo {
    font-size:2.5em;
}
.images {
    position: relative;
    display: flex;
    justify-content: space-around;

}
.images a {
    text-decoration: none;
    text-align: center;

}

.item {
    margin-top: -220px;
    position: relative;
    z-index: 2;
    background-color: rgba(255, 255, 255, 0.3);
}

img{
    width: 500px;
    height: 270px;
}

h3{
    margin:0 auto;
}
