
.bottons{
    margin-left:100px;
    margin-top:100px;
}

.btn-custom-color{
    background-color:#F4BB4B;
    width:180px;
    height: 40px;

}
.btn-custom-color2{
    background-color:#2C462B;
    width:180px;
    height:40px;

}
img{
    max-width: 70%; height: auto; display: block;
}
.img3{
    max-width: 120%; height: auto; display: block;
}


