h1,h2,h3,h4,h5,h6{
    font-family: 'Bona Nova', serif;
    font-weight: bold
}
p,form{
    font-family: 'Raleway', sans-serif;
}
<<<<<<< HEAD

=======
>>>>>>> 3873207e11be11d803ec6f2c6fc32a28ba7ef177
