h1,h2,h3,h4,h5,h6{
    font-family: 'Bona Nova', serif;
    font-weight: bold
}
p,form{
    font-family: 'Raleway', sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> dfa201311aa77bc9a9ae6aef70604650a8a53981
