
.underline {
    border-bottom: 1px solid #448a47;
}

.yellow_button {
    border: 1px solid #F4BB4B;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease;
}

.green_button {
    border: 1px solid #448a47;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    transition: box-shadow 0.4s ease;
}


.yellow_button:hover {
    box-shadow: none;
}

.green_button:hover {
    box-shadow: none;
}

.room_detail_style {
    font-size: 28px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-align: left;
}

.room_detail_custom {
    text-align: center;
    font-size: 28px;
    font-family: 'Bona Nova', sans-serif;
    color: #F4BB4B; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}
